In [1]:
# dev/python3

A class Shingling that constructs k–shingles of a given length k (e.g., 10) from a given document, computes a hash value for each unique shingle, and represents the document in the form of an ordered set of its hashed k-shingles.

A class CompareSets that computes the Jaccard similarity of two sets of integers – two sets of hashed shingles.

A class MinHashing that builds a minHash signature (in the form of a vector or a set) of a given length n from a given set of integers (a set of hashed shingles).

A class CompareSignatures that estimates similarity of two integer vectors – minhash signatures – as a fraction of components, in which they agree.

(Optional task for extra 2 bonus) A class LSH that implements the LSH technique: given a collection of minhash signatures (integer vectors) and a similarity threshold t, the LSH class (using banding and hashing) finds all candidate pairs of signatures that agree on at least fraction t of their components.

In [2]:
#read data
import pandas as pd
import numpy as np

df = pd.read_csv('dataset-CalheirosMoroRita-2017.csv',  error_bad_lines=False, engine='python', sep="\t")
df.count()

Skipping line 5: '	' expected after '"'

Review    404
dtype: int64

In [3]:
#clean punctuation
df['Review'] = df['Review'].str.replace(r'[^\w\s\n]', '')
df['Review'] = df['Review'].str.replace('\"', '')

df.head(10)

                                              Review
0                                 Test one two three
1                                  Test one two four
2  Everything from the weather staff food propert...
3           We full enjoyed the place and facilities
4  Thanks for the cidreira and madalenas tea at r...
5  One dream Cozy  and comfortable Hotel  The bes...
6  Hotel concept is hard to grasp They communicat...
7  This is a wonderful hotel for a romantic escap...
8  Gold room fantastic We loved and we will come ...
9  One of the best Hotels in the world and in the...

In [35]:
#shingling 
shingle_size = 3


def shingles(words, n = shingle_size):
    return [words[i:i+n] for i in range(len(words) - n + 1) if len(words[i]) < 5]

df_shingled = df.copy()
df_shingled['Review'] = df.Review.map(lambda x : x.split())
df['shingles'] = df_shingled.Review.map(shingles)
df['shingles'] = df.shingles.map(lambda shingles : [x for x in set(tuple(x) for x in shingles)])

df.head(5)

,Review,shingles,hashes,signature
0,Test one two three,"[(Test, one, two), (one, two, three)]","[392562732, 3439823151, 3376122026]","[987681289, 132727393, 1119435899, 401586331, ..."
1,Test one two four,"[(Test, one, two), (one, two, four)]","[3439823151, 3977348428, 3376122026]","[1992896621, 319662534, 3105089854, 1987699199..."
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (were, top, notch), (the,...","[803584749, 1253960632, 2359637912, 3648159412...","[214855121, 180436794, 1188378776, 476518534, ..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (the, place, and), (We,...","[609615837, 601731606, 3925338499, 3621188725]","[2064255174, 860178008, 360105669, 1084418888,..."
4,Thanks for the cidreira and madalenas tea at r...,"[(the, cidreira, and), (and, madalenas, tea), ...","[2136692008, 1821160267, 1070508967, 411529165...","[1440009519, 2670617479, 318438173, 132802080,..."

In [36]:
#hashing
import binascii
def s_hash(shingle):
    return binascii.crc32(shingle) & 0xffffffff

df['hashes'] = df.shingles.map(lambda shingles: [s_hash((" ".join(word for word in shingle)).encode()) for shingle in shingles])

df.head(5)

,Review,shingles,hashes,signature
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]","[987681289, 132727393, 1119435899, 401586331, ..."
1,Test one two four,"[(Test, one, two), (one, two, four)]","[2080834851, 515743642]","[1992896621, 319662534, 3105089854, 1987699199..."
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (were, top, notch), (the,...","[2981500306, 3207390694, 3069561215, 109145352...","[214855121, 180436794, 1188378776, 476518534, ..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (the, place, and), (We,...","[2575702922, 3903531572, 3949555090]","[2064255174, 860178008, 360105669, 1084418888,..."
4,Thanks for the cidreira and madalenas tea at r...,"[(the, cidreira, and), (and, madalenas, tea), ...","[2672588445, 1353929374, 1824094365, 813168974]","[1440009519, 2670617479, 318438173, 132802080,..."

In [37]:
#minhash signatures
import random
import time

t0 = time.time()
max_shingle_id = 2**32-1
big_prime = 4294967311

def rand_coefficients(k):
    rand_coeff = []  
    while k > 0:
        randIndex = random.randint(0, max_shingle_id) 
        while randIndex in rand_coeff:
                randIndex = random.randint(0, max_shingle_id) 
        rand_coeff.append(randIndex)
        k = k - 1
    return rand_coeff
numhashes = 10
coeff1 = rand_coefficients(numhashes)
coeff2 = rand_coefficients(numhashes)
print("coefficient array created for " + str(numhashes))

coefficient array created for 10

In [38]:
df = df[df.hashes.apply(len) > 0]
df["signature"] = np.empty((len(df),0)).tolist()
df.head()

,Review,shingles,hashes,signature
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]",[]
1,Test one two four,"[(Test, one, two), (one, two, four)]","[2080834851, 515743642]",[]
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (were, top, notch), (the,...","[2981500306, 3207390694, 3069561215, 109145352...",[]
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (the, place, and), (We,...","[2575702922, 3903531572, 3949555090]",[]
4,Thanks for the cidreira and madalenas tea at r...,"[(the, cidreira, and), (and, madalenas, tea), ...","[2672588445, 1353929374, 1824094365, 813168974]",[]

In [47]:
#loop over hash functions

def min_hash(row):
    signature = []
    f_results = []
    for i in range(numhashes):
        f_results = [((coeff1[i] * h  + coeff2[i]) % big_prime) for h in  row.hashes]
        signature.append(min(f_results))
    row.signature = signature
    return row

df = df.apply(min_hash, axis=1)
df.head(10)

,Review,shingles,hashes,signature
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]","[1533411855, 2664973751, 1503616671, 126040450..."
1,Test one two four,"[(Test, one, two), (one, two, four)]","[2080834851, 515743642]","[1428629154, 2328271854, 1459505473, 928314541..."
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (were, top, notch), (the,...","[2981500306, 3207390694, 3069561215, 109145352...","[683400583, 838273357, 318838460, 554377663, 1..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (the, place, and), (We,...","[2575702922, 3903531572, 3949555090]","[1084248128, 540453385, 2381694502, 164769707,..."
4,Thanks for the cidreira and madalenas tea at r...,"[(the, cidreira, and), (and, madalenas, tea), ...","[2672588445, 1353929374, 1824094365, 813168974]","[230031610, 479488910, 215881626, 49776448, 79..."
5,One dream Cozy and comfortable Hotel The bes...,"[(One, dream, Cozy), (the, fire, pits), (best,...","[4109749916, 2567802074, 490876368, 3653948711...","[32292070, 94859988, 117637266, 22034978, 4621..."
6,Hotel concept is hard to grasp They communicat...,"[(what, you, get), (is, friendly, although), (...","[3089389884, 3535329763, 2210686231, 423931707...","[203510417, 61824738, 37292788, 236492456, 156..."
7,This is a wonderful hotel for a romantic escap...,"[(have, to, make), (a, wonderful, hotel), (is,...","[3418884546, 620493595, 3660244085, 2887515362...","[211242738, 90357391, 178287620, 85619366, 827..."
8,Gold room fantastic We loved and we will come ...,"[(Gold, room, fantastic), (room, fantastic, We...","[1966932107, 2027626870, 1100955699, 316264339...","[508237506, 609161917, 696724894, 1205400795, ..."
9,One of the best Hotels in the world and in the...,"[(Ma, Bo, is), (all, over, the), (best, Room, ...","[4192145606, 3853051168, 21685393, 1934729424,...","[102259674, 139967230, 32761807, 329252261, 89..."

In [40]:
#similarity
def jaccard(sig1, sig2):
    return len(set(sig1).intersection(set(sig2)))/len(set(sig1).union(set(sig2)))

def min_hash_sim(sig1, sig2):
    count = 0
    for i in range(numhashes):
        if (sig1[i] == sig2[i]):
            count += 1
    return count/numhashes

In [41]:
#test cases
# df.signature.iloc[1]
# set(df.signature.iloc[0]).union(df.signature.iloc[1])
# set(df.signature.iloc[0]).intersection(df.signature.iloc[1])
# jaccard(df.signature.iloc[1], df.signature.iloc[0])

In [77]:
for i in range (0, len(df)-1):
    for j in range (i+1, len(df)):
        sim = min_hash_sim(df.signature.iloc[i], df.signature.iloc[j]);
        if sim >= 0.1: 
            print(i," and ", j, ": ", sim)

0  and  1 :  0.2
2  and  298 :  0.1
3  and  135 :  0.3
5  and  87 :  0.1
5  and  109 :  0.1
5  and  112 :  0.1
8  and  12 :  0.1
8  and  44 :  0.1
8  and  134 :  0.1
8  and  146 :  0.1
9  and  11 :  0.1
9  and  23 :  0.1
9  and  101 :  0.1
9  and  143 :  0.1
9  and  170 :  0.1
9  and  332 :  0.1
11  and  101 :  0.1
11  and  170 :  0.1
11  and  332 :  0.1
12  and  44 :  0.1
12  and  66 :  0.2
12  and  125 :  0.1
12  and  134 :  0.1
12  and  146 :  0.1
12  and  192 :  0.4
13  and  46 :  0.1
13  and  179 :  0.1
13  and  315 :  0.1
13  and  330 :  0.2
13  and  387 :  0.2
13  and  389 :  0.1
15  and  73 :  0.1
15  and  146 :  0.1
15  and  214 :  0.1
15  and  387 :  0.1
17  and  288 :  0.1
17  and  298 :  0.1
18  and  52 :  0.1
18  and  189 :  0.1
19  and  163 :  0.1
22  and  139 :  0.1
22  and  306 :  0.1
22  and  393 :  0.1
24  and  50 :  0.1
25  and  224 :  0.1
27  and  41 :  0.1
27  and  143 :  0.1
29  and  48 :  0.1
30  and  34 :  0.1
30  and  73 :  0.1
30  and  78 :  0.1
30  and  80 :  0.1
30  and  155 :  0.1
30  and  229 :  0.1
31  and  105 :  0.1
31  and  125 :  0.1
31  and  171 :  0.1
31  and  189 :  0.1
31  and  281 :  0.1
31  and  315 :  0.1
31  and  351 :  0.2
39  and  127 :  0.1
39  and  342 :  0.1
41  and  51 :  0.1
41  and  143 :  0.3
41  and  286 :  0.1
42  and  57 :  0.2
44  and  134 :  0.2
44  and  146 :  0.1
45  and  50 :  0.1
45  and  57 :  0.1
45  and  61 :  0.1
45  and  88 :  0.1
45  and  90 :  0.1
45  and  92 :  0.2
45  and  125 :  0.2
45  and  130 :  0.1
45  and  192 :  0.2
45  and  360 :  0.1
46  and  98 :  0.1
46  and  149 :  0.1
46  and  330 :  0.1
46  and  331 :  0.1
49  and  136 :  0.1
49  and  189 :  0.1
49  and  204 :  0.1
49  and  282 :  0.1
50  and  57 :  0.1
50  and  88 :  0.1
50  and  90 :  0.1
50  and  92 :  0.1
50  and  125 :  0.1
50  and  130 :  0.2
50  and  192 :  0.1
50  and  226 :  0.1
50  and  360 :  0.2
52  and  189 :  0.1
52  and  385 :  0.1
55  and  136 :  0.3
55  and  140 :  0.1
55  and  144 :  0.1
55  and  145 :  0.2
55  and  204 :  0.1
55  and  227 :  0.3
55  and  228 :  0.2
55  and  245 :  0.1
55  and  276 :  0.1
55  and  297 :  0.1
55  and  306 :  0.1
55  and  358 :  0.1
56  and  135 :  0.1
57  and  88 :  0.1
57  and  90 :  0.1
57  and  92 :  0.1
57  and  125 :  0.1
57  and  130 :  0.1
57  and  192 :  0.1
57  and  360 :  0.1
58  and  374 :  0.1
60  and  308 :  0.2
60  and  311 :  0.2
62  and  131 :  0.1
62  and  317 :  0.1
62  and  319 :  0.1
62  and  326 :  0.1
62  and  374 :  0.1
62  and  380 :  0.1
63  and  123 :  0.1
63  and  130 :  0.1
63  and  360 :  0.1
66  and  115 :  0.1
66  and  125 :  0.1
66  and  192 :  0.3
66  and  254 :  0.2
66  and  339 :  0.1
66  and  371 :  0.1
67  and  101 :  0.1
70  and  72 :  0.2
70  and  319 :  0.1
70  and  393 :  0.3
71  and  197 :  0.1
71  and  253 :  0.2
71  and  363 :  0.1
72  and  319 :  0.1
72  and  331 :  0.1
72  and  393 :  0.2
73  and  155 :  0.1
73  and  211 :  0.1
73  and  214 :  0.1
73  and  229 :  0.1
73  and  283 :  0.1
73  and  387 :  0.1
75  and  76 :  1.0
75  and  120 :  0.1
76  and  120 :  0.1
78  and  80 :  0.1
79  and  113 :  0.2
79  and  263 :  0.1
80  and  85 :  0.1
80  and  102 :  0.3
82  and  321 :  0.1
84  and  167 :  0.1
84  and  187 :  0.1
85  and  109 :  0.1
87  and  109 :  0.2
87  and  112 :  0.2
87  and  209 :  0.1
87  and  292 :  0.1
88  and  90 :  0.1
88  and  92 :  0.1
88  and  125 :  0.1
88  and  130 :  0.1
88  and  192 :  0.1
88  and  360 :  0.1
90  and  92 :  0.1
90  and  95 :  0.1
90  and  125 :  0.1
90  and  130 :  0.1
90  and  171 :  0.2
90  and  192 :  0.1
90  and  292 :  0.2
90  and  360 :  0.1
92  and  125 :  0.2
92  and  130 :  0.2
92  and  134 :  0.1
92  and  192 :  0.3
92  and  360 :  0.1
93  and  144 :  0.1
95  and  193 :  0.2
96  and  172 :  0.1
96  and  252 :  0.1
98  and  234 :  0.3
98  and  280 :  0.2
98  and  331 :  0.1
99  and  140 :  0.1
101  and  170 :  0.2
101  and  206 :  0.1
101  and  332 :  0.1
102  and  373 :  0.1
104  and  276 :  0.1
105  and  167 :  0.1
105  and  201 :  0.1
105  and  260 :  0.1
105  and  281 :  0.1
105  and  349 :  0.1
105  and  351 :  0.1
109  and  112 :  0.2
109  and  225 :  0.2
110  and  274 :  0.1
112  and  133 :  0.1
112  and  261 :  0.1
113  and  263 :  0.1
113  and  358 :  0.1
114  and  312 :  0.1
115  and  173 :  0.1
115  and  254 :  0.1
115  and  352 :  0.1
119  and  120 :  0.3
121  and  202 :  0.1
123  and  130 :  0.1
123  and  146 :  0.1
123  and  259 :  0.1
123  and  360 :  0.2
125  and  130 :  0.1
125  and  171 :  0.1
125  and  189 :  0.1
125  and  192 :  0.4
125  and  237 :  0.1
125  and  315 :  0.1
125  and  351 :  0.1
125  and  360 :  0.1
127  and  342 :  0.2
130  and  134 :  0.1
130  and  192 :  0.1
130  and  226 :  0.1
130  and  360 :  0.3
131  and  317 :  0.1
131  and  326 :  0.1
131  and  374 :  0.1
131  and  380 :  0.1
133  and  204 :  0.1
133  and  253 :  0.2
133  and  261 :  0.1
133  and  356 :  0.2
134  and  141 :  0.2
134  and  146 :  0.1
134  and  187 :  0.2
136  and  145 :  0.2
136  and  204 :  0.2
136  and  227 :  0.4
136  and  228 :  0.2
136  and  245 :  0.1
136  and  297 :  0.1
136  and  306 :  0.1
136  and  358 :  0.1
140  and  144 :  0.2
141  and  324 :  0.2
141  and  396 :  0.1
143  and  286 :  0.1
144  and  242 :  0.1
144  and  386 :  0.1
145  and  204 :  0.1
145  and  227 :  0.2
145  and  228 :  0.2
145  and  245 :  0.1
145  and  297 :  0.1
145  and  306 :  0.1
145  and  358 :  0.1
145  and  387 :  0.1
146  and  372 :  0.1
148  and  322 :  0.4
152  and  153 :  1.0
154  and  214 :  0.1
154  and  217 :  0.1
154  and  298 :  0.1
154  and  334 :  0.1
155  and  163 :  0.1
155  and  229 :  0.1
160  and  193 :  0.1
162  and  274 :  0.1
162  and  283 :  0.1
162  and  299 :  0.1
162  and  300 :  0.1
167  and  201 :  0.1
167  and  260 :  0.1
169  and  285 :  0.1
170  and  332 :  0.1
171  and  179 :  0.1
171  and  189 :  0.1
171  and  258 :  0.1
171  and  284 :  0.1
171  and  292 :  0.2
171  and  315 :  0.1
171  and  351 :  0.1
171  and  387 :  0.1
172  and  252 :  0.1
173  and  352 :  0.1
176  and  318 :  0.2
178  and  234 :  0.1
179  and  266 :  0.2
179  and  328 :  0.2
179  and  330 :  0.1
179  and  345 :  0.1
179  and  385 :  0.1
181  and  228 :  0.2
183  and  342 :  0.1
183  and  375 :  0.1
189  and  315 :  0.1
189  and  351 :  0.1
192  and  360 :  0.1
193  and  203 :  0.1
193  and  372 :  0.1
193  and  380 :  0.1
197  and  226 :  0.1
197  and  245 :  0.1
197  and  251 :  0.1
197  and  354 :  0.1
197  and  363 :  0.1
199  and  270 :  0.1
200  and  208 :  0.2
201  and  260 :  0.1
202  and  239 :  0.1
203  and  372 :  0.1
203  and  380 :  0.1
204  and  227 :  0.1
204  and  228 :  0.1
204  and  245 :  0.1
204  and  253 :  0.1
204  and  297 :  0.1
204  and  306 :  0.1
204  and  356 :  0.1
204  and  358 :  0.1
206  and  379 :  0.1
209  and  270 :  0.1
209  and  292 :  0.1
214  and  334 :  0.1
214  and  387 :  0.1
215  and  258 :  0.1
216  and  262 :  0.1
217  and  298 :  0.1
219  and  284 :  0.1
222  and  386 :  0.1
226  and  245 :  0.1
226  and  251 :  0.1
226  and  354 :  0.1
226  and  360 :  0.1
227  and  228 :  0.2
227  and  245 :  0.1
227  and  297 :  0.1
227  and  306 :  0.1
227  and  358 :  0.1
228  and  245 :  0.1
228  and  297 :  0.1
228  and  306 :  0.1
228  and  358 :  0.1
232  and  235 :  0.2
234  and  280 :  0.2
236  and  331 :  0.1
242  and  288 :  0.1
242  and  386 :  0.1
245  and  251 :  0.1
245  and  297 :  0.1
245  and  306 :  0.2
245  and  354 :  0.1
245  and  358 :  0.1
248  and  337 :  0.1
250  and  319 :  0.1
251  and  354 :  0.1
253  and  356 :  0.2
254  and  339 :  0.1
258  and  273 :  0.1
259  and  360 :  0.1
266  and  328 :  0.2
267  and  329 :  0.1
271  and  315 :  0.1
271  and  366 :  0.1
274  and  283 :  0.1
274  and  300 :  0.1
275  and  282 :  0.1
280  and  308 :  0.1
280  and  371 :  0.1
281  and  351 :  0.1
281  and  366 :  0.1
283  and  300 :  0.1
284  and  387 :  0.1
285  and  374 :  0.1
285  and  396 :  0.1
288  and  298 :  0.1
294  and  369 :  0.1
297  and  306 :  0.1
297  and  358 :  0.1
303  and  318 :  0.1
305  and  314 :  0.1
306  and  358 :  0.1
306  and  393 :  0.1
307  and  363 :  0.1
308  and  311 :  0.2
315  and  351 :  0.1
315  and  366 :  0.1
315  and  387 :  0.1
315  and  389 :  0.1
317  and  324 :  0.2
317  and  326 :  0.1
317  and  374 :  0.4
317  and  380 :  0.1
318  and  335 :  0.1
319  and  393 :  0.1
324  and  374 :  0.2
326  and  374 :  0.1
326  and  380 :  0.2
337  and  387 :  0.1
345  and  385 :  0.1
366  and  382 :  0.1
372  and  380 :  0.1
374  and  380 :  0.1
387  and  389 :  0.1

In [89]:
#lsh implementation
elem_per_band = 1
candidate_pairs = set()

for b in range (0, numhashes//elem_per_band):
    for i in range (0, len(df)-1):
        for j in range (i+1, len(df)):
            s1 = 0
            s2 = 0
            for e in range(b*elem_per_band, b*elem_per_band+elem_per_band):
                s1 += df.signature.iloc[i][e]
                s2 += df.signature.iloc[j][e]
            if (s1 == s2): 
                candidate_pairs.add((i, j))
candidate_pairs

{(0, 1),
 (2, 298),
 (3, 135),
 (5, 87),
 (5, 109),
 (5, 112),
 (8, 12),
 (8, 44),
 (8, 134),
 (8, 146),
 (9, 11),
 (9, 23),
 (9, 101),
 (9, 143),
 (9, 170),
 (9, 332),
 (11, 101),
 (11, 170),
 (11, 332),
 (12, 44),
 (12, 66),
 (12, 125),
 (12, 134),
 (12, 146),
 (12, 192),
 (13, 46),
 (13, 179),
 (13, 315),
 (13, 330),
 (13, 387),
 (13, 389),
 (15, 73),
 (15, 146),
 (15, 214),
 (15, 387),
 (17, 288),
 (17, 298),
 (18, 52),
 (18, 189),
 (19, 163),
 (22, 139),
 (22, 306),
 (22, 393),
 (24, 50),
 (25, 224),
 (27, 41),
 (27, 143),
 (29, 48),
 (30, 34),
 (30, 73),
 (30, 78),
 (30, 80),
 (30, 155),
 (30, 229),
 (31, 105),
 (31, 125),
 (31, 171),
 (31, 189),
 (31, 281),
 (31, 315),
 (31, 351),
 (39, 127),
 (39, 342),
 (41, 51),
 (41, 143),
 (41, 286),
 (42, 57),
 (44, 134),
 (44, 146),
 (45, 50),
 (45, 57),
 (45, 61),
 (45, 88),
 (45, 90),
 (45, 92),
 (45, 125),
 (45, 130),
 (45, 192),
 (45, 360),
 (46, 98),
 (46, 149),
 (46, 330),
 (46, 331),
 (49, 136),
 (49, 189),
 (49, 204),
 (49, 282),
 (50, 57),
 (50, 88),
 (50, 90),
 (50, 92),
 (50, 125),
 (50, 130),
 (50, 192),
 (50, 226),
 (50, 360),
 (52, 189),
 (52, 385),
 (55, 136),
 (55, 140),
 (55, 144),
 (55, 145),
 (55, 204),
 (55, 227),
 (55, 228),
 (55, 245),
 (55, 276),
 (55, 297),
 (55, 306),
 (55, 358),
 (56, 135),
 (57, 88),
 (57, 90),
 (57, 92),
 (57, 125),
 (57, 130),
 (57, 192),
 (57, 360),
 (58, 374),
 (60, 308),
 (60, 311),
 (62, 131),
 (62, 317),
 (62, 319),
 (62, 326),
 (62, 374),
 (62, 380),
 (63, 123),
 (63, 130),
 (63, 360),
 (66, 115),
 (66, 125),
 (66, 192),
 (66, 254),
 (66, 339),
 (66, 371),
 (67, 101),
 (70, 72),
 (70, 319),
 (70, 393),
 (71, 197),
 (71, 253),
 (71, 363),
 (72, 319),
 (72, 331),
 (72, 393),
 (73, 155),
 (73, 211),
 (73, 214),
 (73, 229),
 (73, 283),
 (73, 387),
 (75, 76),
 (75, 120),
 (76, 120),
 (78, 80),
 (79, 113),
 (79, 263),
 (80, 85),
 (80, 102),
 (82, 321),
 (84, 167),
 (84, 187),
 (85, 109),
 (87, 109),
 (87, 112),
 (87, 209),
 (87, 292),
 (88, 90),
 (88, 92),
 (88, 125),
 (88, 130),
 (88, 192),
 (88, 360),
 (90, 92),
 (90, 95),
 (90, 125),
 (90, 130),
 (90, 171),
 (90, 192),
 (90, 292),
 (90, 360),
 (92, 125),
 (92, 130),
 (92, 134),
 (92, 192),
 (92, 360),
 (93, 144),
 (95, 193),
 (96, 172),
 (96, 252),
 (98, 234),
 (98, 280),
 (98, 331),
 (99, 140),
 (101, 170),
 (101, 206),
 (101, 332),
 (102, 373),
 (104, 276),
 (105, 167),
 (105, 201),
 (105, 260),
 (105, 281),
 (105, 349),
 (105, 351),
 (109, 112),
 (109, 225),
 (110, 274),
 (112, 133),
 (112, 261),
 (113, 263),
 (113, 358),
 (114, 312),
 (115, 173),
 (115, 254),
 (115, 352),
 (119, 120),
 (121, 202),
 (123, 130),
 (123, 146),
 (123, 259),
 (123, 360),
 (125, 130),
 (125, 171),
 (125, 189),
 (125, 192),
 (125, 237),
 (125, 315),
 (125, 351),
 (125, 360),
 (127, 342),
 (130, 134),
 (130, 192),
 (130, 226),
 (130, 360),
 (131, 317),
 (131, 326),
 (131, 374),
 (131, 380),
 (133, 204),
 (133, 253),
 (133, 261),
 (133, 356),
 (134, 141),
 (134, 146),
 (134, 187),
 (136, 145),
 (136, 204),
 (136, 227),
 (136, 228),
 (136, 245),
 (136, 297),
 (136, 306),
 (136, 358),
 (140, 144),
 (141, 324),
 (141, 396),
 (143, 286),
 (144, 242),
 (144, 386),
 (145, 204),
 (145, 227),
 (145, 228),
 (145, 245),
 (145, 297),
 (145, 306),
 (145, 358),
 (145, 387),
 (146, 372),
 (148, 322),
 (152, 153),
 (154, 214),
 (154, 217),
 (154, 298),
 (154, 334),
 (155, 163),
 (155, 229),
 (160, 193),
 (162, 274),
 (162, 283),
 (162, 299),
 (162, 300),
 (167, 201),
 (167, 260),
 (169, 285),
 (170, 332),
 (171, 179),
 (171, 189),
 (171, 258),
 (171, 284),
 (171, 292),
 (171, 315),
 (171, 351),
 (171, 387),
 (172, 252),
 (173, 352),
 (176, 318),
 (178, 234),
 (179, 266),
 (179, 328),
 (179, 330),
 (179, 345),
 (179, 385),
 (181, 228),
 (183, 342),
 (183, 375),
 (189, 315),
 (189, 351),
 (192, 360),
 (193, 203),
 (193, 372),
 (193, 380),
 (197, 226),
 (197, 245),
 (197, 251),
 (197, 354),
 (197, 363),
 (199, 270),
 (200, 208),
 (201, 260),
 (202, 239),
 (203, 372),
 (203, 380),
 (204, 227),
 (204, 228),
 (204, 245),
 (204, 253),
 (204, 297),
 (204, 306),
 (204, 356),
 (204, 358),
 (206, 379),
 (209, 270),
 (209, 292),
 (214, 334),
 (214, 387),
 (215, 258),
 (216, 262),
 (217, 298),
 (219, 284),
 (222, 386),
 (226, 245),
 (226, 251),
 (226, 354),
 (226, 360),
 (227, 228),
 (227, 245),
 (227, 297),
 (227, 306),
 (227, 358),
 (228, 245),
 (228, 297),
 (228, 306),
 (228, 358),
 (232, 235),
 (234, 280),
 (236, 331),
 (242, 288),
 (242, 386),
 (245, 251),
 (245, 297),
 (245, 306),
 (245, 354),
 (245, 358),
 (248, 337),
 (250, 319),
 (251, 354),
 (253, 356),
 (254, 339),
 (258, 273),
 (259, 360),
 (266, 328),
 (267, 329),
 (271, 315),
 (271, 366),
 (274, 283),
 (274, 300),
 (275, 282),
 (280, 308),
 (280, 371),
 (281, 351),
 (281, 366),
 (283, 300),
 (284, 387),
 (285, 374),
 (285, 396),
 (288, 298),
 (294, 369),
 (297, 306),
 (297, 358),
 (303, 318),
 (305, 314),
 (306, 358),
 (306, 393),
 (307, 363),
 (308, 311),
 (315, 351),
 (315, 366),
 (315, 387),
 (315, 389),
 (317, 324),
 (317, 326),
 (317, 374),
 (317, 380),
 (318, 335),
 (319, 393),
 (324, 374),
 (326, 374),
 (326, 380),
 (337, 387),
 (345, 385),
 (366, 382),
 (372, 380),
 (374, 380),
 (387, 389)}

In [88]:
sig1 = 41
sig2 = 143

print(df.Review.iloc[sig1])
print(df.Review.iloc[sig2])
print()
print(df.signature.iloc[sig1])
print(df.signature.iloc[sig2])

min_hash_sim(df.signature.iloc[sig1], df.signature.iloc[sig2])

      Areas do Seixo is a realization of one dream and with your dream I found my dream
     Areas do Seixo is the best Well come back

[362575815, 200228398, 316249003, 581361384, 193860451, 1124273824, 560545114, 429417603, 82040367, 379650150]
[1025792058, 139967230, 316249003, 754296082, 155860831, 579184100, 890659176, 211692224, 82040367, 379650150]

0.3