# Homework 1: Finding Similar Items: Textually Similar Documents

The task is to implement shingling, minhashing and LSH algorithms in order to compare text-based documents.

In [17]:
#read data
import pandas as pd
import numpy as np

#import dataset
df = pd.read_csv('dataset-CalheirosMoroRita-2017.csv',  error_bad_lines=False, engine='python', sep="\t")
df.head()

Skipping line 5: '	' expected after '"'

                                              Review
0                                 Test one two three
1                                  Test one two four
2  Everything from the weather, staff, food, prop...
3         We full enjoyed the place, and facilities.
4  Thanks for the ""cidreira"" and ""madalenas"" ...

In [18]:
#clean the files from puncuation signs, spaces and newlines
df['Review'] = df['Review'].str.replace(r'[^\w\s\n]', '')
df['Review'] = df['Review'].str.replace('\"', '')
df.head()

                                              Review
0                                 Test one two three
1                                  Test one two four
2  Everything from the weather staff food propert...
3           We full enjoyed the place and facilities
4  Thanks for the cidreira and madalenas tea at r...

## Shingling phase

Here we perform the shinglign phase - Divide the documents in word-touples of size in the variable `shingle_size`

1. Assign shingling size
1. Split the documents in list of words
1. Group words in tuples of `shingle_size`
1. Transform the list of tuples in sets of tuples to avoid duplication and put in in `shingles` column in the dataframe
1. Create a new column with a hashed version of shingles:
    * join the tuples into a string
    * hash the byte-encoded string using `s_hash` function

In [21]:
#shingling phase
shingle_size = 3

#method to group words in tupples of shingle_size size
def shingles(words, n = shingle_size):
    return [words[i:i+n] for i in range(len(words) - n + 1) if len(words[i]) < 5]

df_shingled = df.copy()
df_shingled['Review'] = df.Review.map(lambda x : x.split())
df['shingles'] = df_shingled.Review.map(shingles)
df['shingles'] = df.shingles.map(lambda shingles : [x for x in set(tuple(x) for x in shingles)])

df.head(5)

,Review,shingles,hashes
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]"
1,Test one two four,"[(one, two, four), (Test, one, two)]","[515743642, 2080834851]"
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (spa, rooms, and), (the, ...","[2981500306, 184128390, 3069561215, 1132586348..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (We, full, enjoyed), (t...","[2575702922, 3949555090, 3903531572]"
4,Thanks for the cidreira and madalenas tea at r...,"[(and, madalenas, tea), (for, the, cidreira), ...","[1353929374, 1824094365, 813168974, 2672588445]"

In [22]:
import binascii

def s_hash(shingle):
    return binascii.crc32(shingle) & 0xffffffff

df['hashes'] = df.shingles.map(lambda shingles: [s_hash((" ".join(word for word in shingle)).encode()) for shingle in shingles])

df.head(5)

,Review,shingles,hashes
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]"
1,Test one two four,"[(one, two, four), (Test, one, two)]","[515743642, 2080834851]"
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (spa, rooms, and), (the, ...","[2981500306, 184128390, 3069561215, 1132586348..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (We, full, enjoyed), (t...","[2575702922, 3949555090, 3903531572]"
4,Thanks for the cidreira and madalenas tea at r...,"[(and, madalenas, tea), (for, the, cidreira), ...","[1353929374, 1824094365, 813168974, 2672588445]"

## MinHash phase
In this phase we calculate the minhashes for each document.

1. Set the number of hashes per document in `numhashes`
2. Generate the two lists of coefficients for the minhash functions
3. Create the signature lists using generated coefficients and save it to the dataframe

In [24]:
import random

#number of hashesh per document
numhashes = 10

#we took the max integer as the upper limit of the minhashes
max_shingle_id = 2**32-1
# a prime number bigger than maxInt
big_prime = 4294967311

#generation of random coeffiencents for all k ax+b functions 
def rand_coefficients(k):
    rand_coeff = []  
    while k > 0:
        randIndex = random.randint(0, max_shingle_id) 
        while randIndex in rand_coeff:
                randIndex = random.randint(0, max_shingle_id) 
        rand_coeff.append(randIndex)
        k = k - 1
    return rand_coeff


#generate a for ax+b
coeff1 = rand_coefficients(numhashes)
#generate b for ax+b
coeff2 = rand_coefficients(numhashes)
print("coefficient array created for " + str(numhashes) + "numhashes")

coefficient array created for 10numhashes

In [47]:
#filter datafram to eliminate empty hash lists
df = df[df.hashes.apply(len) > 0]

#create a column of empty lists
df["signature"] = np.empty((len(df),0)).tolist()

#loop over hash functions
def min_hash(row):
    signature = []
    f_results = []
    #apply (ax+b)%c for every document using above generated coefficients to generate signatures
    for i in range(numhashes):
        f_results = [((coeff1[i] * h  + coeff2[i]) % big_prime) for h in  row.hashes]
        #select the minimum of the results
        signature.append(min(f_results))
    row.signature = signature
    return row

#apply the min_hash on the dataframe
df = df.apply(min_hash, axis=1)
df.head()

,Review,shingles,hashes,signature
0,Test one two three,"[(Test, one, two), (one, two, three)]","[2080834851, 2015744983]","[1877537571, 1759969086, 3674356561, 670456082..."
1,Test one two four,"[(one, two, four), (Test, one, two)]","[515743642, 2080834851]","[1374638825, 1369335934, 3283383602, 670456082..."
2,Everything from the weather staff food propert...,"[(dcor, spa, rooms), (spa, rooms, and), (the, ...","[2981500306, 184128390, 3069561215, 1132586348...","[1034231098, 144710362, 989412207, 41469827, 7..."
3,We full enjoyed the place and facilities,"[(full, enjoyed, the), (We, full, enjoyed), (t...","[2575702922, 3949555090, 3903531572]","[1035613178, 1079444216, 159366595, 922632930,..."
4,Thanks for the cidreira and madalenas tea at r...,"[(and, madalenas, tea), (for, the, cidreira), ...","[1353929374, 1824094365, 813168974, 2672588445]","[262562206, 599345854, 670457660, 844186963, 1..."

In [39]:
#implement jaccard similarity
def jaccard(sig1, sig2):
    return len(set(sig1).intersection(set(sig2)))/len(set(sig1).union(set(sig2)))

#function to compare two signature on similarity
def min_hash_sim(sig1, sig2):
    count = 0
    for i in range(numhashes):
        if (sig1[i] == sig2[i]):
            count += 1
    return count/numhashes

In [40]:
#fast testing the min_hash_sim on the first two document
set(df.signature.iloc[0]).union(df.signature.iloc[1])
set(df.signature.iloc[0]).intersection(df.signature.iloc[1])
min_hash_sim(df.signature.iloc[1], df.signature.iloc[0])

0.3

The `threshold` is used to set the lowest bownd for similarity.
We iterate over all pairs of documents and select only document pairs that have the similarity score above the set threshold.

In [41]:
threshold = 0.1

for i in range (0, len(df)-1):
    for j in range (i+1, len(df)):
        sim = min_hash_sim(df.signature.iloc[i], df.signature.iloc[j]);
        if sim >= threshold: 
            print(i," and ", j, ": ", sim)

0  and  1 :  0.3
3  and  135 :  0.1
8  and  12 :  0.2
8  and  20 :  0.1
8  and  44 :  0.4
8  and  45 :  0.1
8  and  50 :  0.1
8  and  57 :  0.2
8  and  88 :  0.3
8  and  90 :  0.3
8  and  92 :  0.4
8  and  125 :  0.3
8  and  130 :  0.3
8  and  134 :  0.4
8  and  146 :  0.1
8  and  149 :  0.4
8  and  184 :  0.2
8  and  192 :  0.3
8  and  225 :  0.2
8  and  360 :  0.3
9  and  143 :  0.2
9  and  334 :  0.1
10  and  67 :  0.1
10  and  186 :  0.1
10  and  192 :  0.1
10  and  228 :  0.1
10  and  229 :  0.2
12  and  20 :  0.1
12  and  44 :  0.2
12  and  45 :  0.2
12  and  50 :  0.1
12  and  56 :  0.1
12  and  57 :  0.1
12  and  88 :  0.2
12  and  90 :  0.2
12  and  92 :  0.2
12  and  125 :  0.2
12  and  130 :  0.2
12  and  134 :  0.2
12  and  146 :  0.1
12  and  149 :  0.2
12  and  184 :  0.1
12  and  192 :  0.2
12  and  224 :  0.1
12  and  225 :  0.1
12  and  360 :  0.2
13  and  46 :  0.2
13  and  179 :  0.1
13  and  330 :  0.3
13  and  345 :  0.1
13  and  366 :  0.2
13  and  385 :  0.1
13  and  389 :  0.2
15  and  214 :  0.1
15  and  387 :  0.1
16  and  116 :  0.1
16  and  183 :  0.1
16  and  206 :  0.1
16  and  252 :  0.1
17  and  321 :  0.1
18  and  56 :  0.1
20  and  44 :  0.1
20  and  45 :  0.1
20  and  50 :  0.1
20  and  55 :  0.1
20  and  57 :  0.1
20  and  88 :  0.1
20  and  90 :  0.1
20  and  92 :  0.1
20  and  125 :  0.1
20  and  130 :  0.1
20  and  134 :  0.1
20  and  136 :  0.1
20  and  145 :  0.1
20  and  146 :  0.1
20  and  149 :  0.1
20  and  161 :  0.1
20  and  184 :  0.1
20  and  192 :  0.1
20  and  225 :  0.1
20  and  227 :  0.1
20  and  228 :  0.1
20  and  304 :  0.1
20  and  360 :  0.1
20  and  396 :  0.1
24  and  50 :  0.1
24  and  53 :  0.1
24  and  117 :  0.1
24  and  224 :  0.1
25  and  140 :  0.1
25  and  144 :  0.1
27  and  143 :  0.1
28  and  109 :  0.1
29  and  48 :  0.1
29  and  141 :  0.1
29  and  336 :  0.1
29  and  396 :  0.1
35  and  154 :  0.1
35  and  157 :  0.1
35  and  162 :  0.1
35  and  274 :  0.1
35  and  275 :  0.1
35  and  281 :  0.1
39  and  127 :  0.2
39  and  281 :  0.1
40  and  385 :  0.1
42  and  98 :  0.1
42  and  140 :  0.1
42  and  178 :  0.1
42  and  215 :  0.1
44  and  45 :  0.1
44  and  50 :  0.1
44  and  57 :  0.2
44  and  88 :  0.3
44  and  90 :  0.3
44  and  92 :  0.3
44  and  125 :  0.3
44  and  130 :  0.3
44  and  134 :  0.3
44  and  146 :  0.1
44  and  149 :  0.3
44  and  184 :  0.2
44  and  192 :  0.2
44  and  225 :  0.2
44  and  360 :  0.3
45  and  50 :  0.1
45  and  52 :  0.1
45  and  57 :  0.1
45  and  58 :  0.1
45  and  88 :  0.1
45  and  90 :  0.1
45  and  92 :  0.1
45  and  125 :  0.1
45  and  130 :  0.1
45  and  134 :  0.1
45  and  146 :  0.1
45  and  149 :  0.1
45  and  184 :  0.1
45  and  192 :  0.2
45  and  225 :  0.1
45  and  360 :  0.1
46  and  98 :  0.1
46  and  179 :  0.2
46  and  330 :  0.2
46  and  345 :  0.1
46  and  366 :  0.2
46  and  385 :  0.1
46  and  389 :  0.1
49  and  189 :  0.1
49  and  225 :  0.1
49  and  270 :  0.1
49  and  367 :  0.1
50  and  57 :  0.2
50  and  88 :  0.1
50  and  90 :  0.2
50  and  92 :  0.2
50  and  117 :  0.1
50  and  125 :  0.2
50  and  130 :  0.2
50  and  134 :  0.1
50  and  146 :  0.1
50  and  149 :  0.1
50  and  184 :  0.1
50  and  192 :  0.2
50  and  225 :  0.1
50  and  360 :  0.1
52  and  396 :  0.1
53  and  69 :  0.2
53  and  224 :  0.1
53  and  331 :  0.2
55  and  84 :  0.1
55  and  98 :  0.1
55  and  103 :  0.1
55  and  136 :  0.3
55  and  137 :  0.1
55  and  140 :  0.1
55  and  144 :  0.3
55  and  145 :  0.3
55  and  186 :  0.1
55  and  187 :  0.1
55  and  200 :  0.1
55  and  204 :  0.1
55  and  215 :  0.1
55  and  227 :  0.4
55  and  228 :  0.3
55  and  242 :  0.2
55  and  245 :  0.1
55  and  259 :  0.1
55  and  357 :  0.1
55  and  386 :  0.1
55  and  396 :  0.1
56  and  135 :  0.1
56  and  224 :  0.1
57  and  88 :  0.2
57  and  90 :  0.3
57  and  92 :  0.3
57  and  125 :  0.3
57  and  130 :  0.3
57  and  134 :  0.1
57  and  146 :  0.1
57  and  149 :  0.1
57  and  184 :  0.2
57  and  192 :  0.3
57  and  225 :  0.2
57  and  360 :  0.2
60  and  111 :  0.1
60  and  182 :  0.1
60  and  308 :  0.1
60  and  336 :  0.1
62  and  87 :  0.1
62  and  113 :  0.1
62  and  317 :  0.1
62  and  372 :  0.1
66  and  115 :  0.2
66  and  254 :  0.4
66  and  264 :  0.2
66  and  339 :  0.2
66  and  350 :  0.3
66  and  371 :  0.2
67  and  81 :  0.2
67  and  228 :  0.2
69  and  331 :  0.2
70  and  72 :  0.2
70  and  222 :  0.1
70  and  319 :  0.1
70  and  393 :  0.3
71  and  182 :  0.1
71  and  197 :  0.1
71  and  226 :  0.1
71  and  251 :  0.2
71  and  253 :  0.2
71  and  363 :  0.1
72  and  222 :  0.1
72  and  319 :  0.1
72  and  393 :  0.2
74  and  331 :  0.1
75  and  76 :  1.0
75  and  120 :  0.1
76  and  120 :  0.1
78  and  80 :  0.1
78  and  340 :  0.1
79  and  113 :  0.1
80  and  85 :  0.1
84  and  98 :  0.1
84  and  103 :  0.1
84  and  123 :  0.1
84  and  137 :  0.1
84  and  140 :  0.1
84  and  144 :  0.1
84  and  167 :  0.1
84  and  186 :  0.1
84  and  187 :  0.1
84  and  200 :  0.1
84  and  215 :  0.1
84  and  226 :  0.1
84  and  259 :  0.2
84  and  357 :  0.1
87  and  88 :  0.1
87  and  113 :  0.1
87  and  203 :  0.1
87  and  206 :  0.1
87  and  317 :  0.2
87  and  326 :  0.1
87  and  372 :  0.1
88  and  90 :  0.3
88  and  92 :  0.3
88  and  125 :  0.3
88  and  130 :  0.3
88  and  134 :  0.2
88  and  146 :  0.1
88  and  149 :  0.2
88  and  184 :  0.2
88  and  192 :  0.2
88  and  206 :  0.1
88  and  225 :  0.2
88  and  304 :  0.1
88  and  310 :  0.1
88  and  360 :  0.3
90  and  92 :  0.5
90  and  95 :  0.1
90  and  125 :  0.4
90  and  130 :  0.4
90  and  134 :  0.2
90  and  146 :  0.1
90  and  149 :  0.2
90  and  184 :  0.2
90  and  192 :  0.4
90  and  225 :  0.2
90  and  360 :  0.4
92  and  125 :  0.4
92  and  130 :  0.4
92  and  134 :  0.2
92  and  146 :  0.1
92  and  149 :  0.3
92  and  184 :  0.2
92  and  192 :  0.6
92  and  225 :  0.2
92  and  360 :  0.4
95  and  108 :  0.1
95  and  131 :  0.1
95  and  193 :  0.3
96  and  172 :  0.1
97  and  131 :  0.2
97  and  163 :  0.2
98  and  103 :  0.1
98  and  137 :  0.1
98  and  140 :  0.2
98  and  144 :  0.1
98  and  178 :  0.1
98  and  186 :  0.1
98  and  187 :  0.1
98  and  200 :  0.1
98  and  215 :  0.2
98  and  234 :  0.1
98  and  259 :  0.1
98  and  357 :  0.1
101  and  170 :  0.1
102  and  338 :  0.2
103  and  137 :  0.1
103  and  140 :  0.1
103  and  144 :  0.1
103  and  186 :  0.1
103  and  187 :  0.1
103  and  194 :  0.1
103  and  200 :  0.1
103  and  215 :  0.1
103  and  259 :  0.1
103  and  357 :  0.1
104  and  183 :  0.1
104  and  367 :  0.1
105  and  305 :  0.1
107  and  129 :  0.1
107  and  130 :  0.1
108  and  131 :  0.1
111  and  182 :  0.1
111  and  308 :  0.1
111  and  336 :  0.1
112  and  133 :  0.2
112  and  261 :  0.1
112  and  268 :  0.2
113  and  317 :  0.1
113  and  372 :  0.1
114  and  306 :  0.1
115  and  189 :  0.1
115  and  254 :  0.2
115  and  264 :  0.2
115  and  339 :  0.2
115  and  350 :  0.2
115  and  371 :  0.2
116  and  183 :  0.1
116  and  206 :  0.1
116  and  252 :  0.1
119  and  120 :  0.1
119  and  248 :  0.1
123  and  167 :  0.1
123  and  226 :  0.1
123  and  259 :  0.1
125  and  130 :  0.4
125  and  134 :  0.2
125  and  146 :  0.1
125  and  149 :  0.2
125  and  184 :  0.2
125  and  192 :  0.3
125  and  225 :  0.2
125  and  360 :  0.3
129  and  130 :  0.1
129  and  222 :  0.1
129  and  241 :  0.1
130  and  134 :  0.2
130  and  146 :  0.1
130  and  149 :  0.2
130  and  184 :  0.2
130  and  192 :  0.3
130  and  225 :  0.2
130  and  241 :  0.1
130  and  360 :  0.3
131  and  163 :  0.2
133  and  204 :  0.1
133  and  253 :  0.1
133  and  261 :  0.1
133  and  268 :  0.1
134  and  146 :  0.1
134  and  149 :  0.3
134  and  184 :  0.1
134  and  187 :  0.5
134  and  192 :  0.1
134  and  225 :  0.1
134  and  360 :  0.2
136  and  145 :  0.2
136  and  227 :  0.3
136  and  228 :  0.3
136  and  245 :  0.1
136  and  396 :  0.1
137  and  140 :  0.1
137  and  144 :  0.1
137  and  186 :  0.1
137  and  187 :  0.1
137  and  200 :  0.1
137  and  215 :  0.1
137  and  259 :  0.1
137  and  357 :  0.1
140  and  144 :  0.2
140  and  178 :  0.1
140  and  186 :  0.1
140  and  187 :  0.1
140  and  200 :  0.1
140  and  215 :  0.2
140  and  259 :  0.1
140  and  357 :  0.1
141  and  244 :  0.1
141  and  336 :  0.2
141  and  356 :  0.1
144  and  186 :  0.1
144  and  187 :  0.1
144  and  200 :  0.1
144  and  215 :  0.1
144  and  242 :  0.3

144  and  259 :  0.1
144  and  357 :  0.1
144  and  386 :  0.2
145  and  182 :  0.1
145  and  204 :  0.1
145  and  227 :  0.3
145  and  228 :  0.2
145  and  338 :  0.1
145  and  396 :  0.1
146  and  149 :  0.2
146  and  184 :  0.1
146  and  192 :  0.1
146  and  225 :  0.1
146  and  289 :  0.1
146  and  360 :  0.1
148  and  322 :  0.3
148  and  395 :  0.1
149  and  184 :  0.1
149  and  192 :  0.2
149  and  225 :  0.1
149  and  360 :  0.2
152  and  153 :  1.0
154  and  157 :  0.1
154  and  162 :  0.1
154  and  182 :  0.1
154  and  197 :  0.1
154  and  226 :  0.1
154  and  237 :  0.1
154  and  245 :  0.1
154  and  251 :  0.1
154  and  253 :  0.1
154  and  271 :  0.1
154  and  274 :  0.1
154  and  275 :  0.1
154  and  281 :  0.1
154  and  354 :  0.1
154  and  358 :  0.1
154  and  363 :  0.1
157  and  162 :  0.1
157  and  274 :  0.1
157  and  275 :  0.1
157  and  281 :  0.1
161  and  304 :  0.1
162  and  219 :  0.1
162  and  274 :  0.1
162  and  275 :  0.1
162  and  281 :  0.1
162  and  295 :  0.1
162  and  373 :  0.1
163  and  175 :  0.1
163  and  221 :  0.1
163  and  313 :  0.1
165  and  170 :  0.1
167  and  226 :  0.1
167  and  259 :  0.1
168  and  283 :  0.1
172  and  252 :  0.1
172  and  351 :  0.1
173  and  352 :  0.3
176  and  217 :  0.1
176  and  318 :  0.2
178  and  215 :  0.1
178  and  234 :  0.2
179  and  330 :  0.1
179  and  345 :  0.2
179  and  366 :  0.1
179  and  385 :  0.1
181  and  203 :  0.1
181  and  317 :  0.1
182  and  197 :  0.2
182  and  226 :  0.1
182  and  245 :  0.1
182  and  251 :  0.1
182  and  253 :  0.2
182  and  308 :  0.1
182  and  336 :  0.1
182  and  354 :  0.1
182  and  358 :  0.1
182  and  363 :  0.1
183  and  206 :  0.1
183  and  252 :  0.1
183  and  367 :  0.2
184  and  192 :  0.2
184  and  225 :  0.2
184  and  360 :  0.2
185  and  196 :  0.1
185  and  206 :  0.1
185  and  214 :  0.1
186  and  187 :  0.1
186  and  200 :  0.1
186  and  215 :  0.1
186  and  259 :  0.1
186  and  357 :  0.1
187  and  200 :  0.1
187  and  215 :  0.1
187  and  259 :  0.1
187  and  357 :  0.1
188  and  316 :  0.3
189  and  225 :  0.1
189  and  245 :  0.1
189  and  270 :  0.1
192  and  225 :  0.2
192  and  360 :  0.3
197  and  226 :  0.1
197  and  245 :  0.1
197  and  251 :  0.1
197  and  253 :  0.2
197  and  354 :  0.1
197  and  358 :  0.1
197  and  363 :  0.1
198  and  296 :  0.1
200  and  208 :  0.1
200  and  215 :  0.1
200  and  259 :  0.1
200  and  357 :  0.1
201  and  283 :  0.1
202  and  239 :  0.1
203  and  317 :  0.2
203  and  326 :  0.1
204  and  227 :  0.1
204  and  253 :  0.1
206  and  252 :  0.2
206  and  305 :  0.1
206  and  379 :  0.3
211  and  216 :  0.1
213  and  359 :  0.2
214  and  387 :  0.2
215  and  259 :  0.1
215  and  357 :  0.1
216  and  272 :  0.1
217  and  318 :  0.1
219  and  373 :  0.1
221  and  294 :  0.1
222  and  393 :  0.1
225  and  270 :  0.1
225  and  360 :  0.2
226  and  245 :  0.1
226  and  251 :  0.2
226  and  253 :  0.1
226  and  259 :  0.1
226  and  354 :  0.1
226  and  358 :  0.1
226  and  363 :  0.1
227  and  228 :  0.3
227  and  245 :  0.1
227  and  396 :  0.1
228  and  245 :  0.1
228  and  396 :  0.1
232  and  235 :  0.2
241  and  290 :  0.1
242  and  386 :  0.3
243  and  300 :  0.1
245  and  251 :  0.1
245  and  253 :  0.1
245  and  354 :  0.1
245  and  358 :  0.1
245  and  363 :  0.1
245  and  389 :  0.1
246  and  273 :  0.1
250  and  319 :  0.1
251  and  253 :  0.1
251  and  354 :  0.1
251  and  358 :  0.1
251  and  363 :  0.2
252  and  351 :  0.1
253  and  354 :  0.1
253  and  358 :  0.1
253  and  363 :  0.1
254  and  264 :  0.2
254  and  339 :  0.2
254  and  350 :  0.3
254  and  371 :  0.2
256  and  373 :  0.1
259  and  357 :  0.1
261  and  268 :  0.1
264  and  339 :  0.2
264  and  350 :  0.2
264  and  371 :  0.2
267  and  287 :  0.1
267  and  304 :  0.1
269  and  325 :  0.1
273  and  283 :  0.1
274  and  275 :  0.1
274  and  281 :  0.1
275  and  281 :  0.1
276  and  281 :  0.1
280  and  358 :  0.1
280  and  371 :  0.1
284  and  387 :  0.1
287  and  304 :  0.1
300  and  386 :  0.2
303  and  318 :  0.1
303  and  363 :  0.1
304  and  310 :  0.1
305  and  379 :  0.1
308  and  336 :  0.1
317  and  324 :  0.1
317  and  326 :  0.1
317  and  361 :  0.1
317  and  372 :  0.1
317  and  374 :  0.2
318  and  325 :  0.1
319  and  393 :  0.1
324  and  374 :  0.2
326  and  372 :  0.1
327  and  330 :  0.2
330  and  345 :  0.1
330  and  366 :  0.2
330  and  385 :  0.1
330  and  389 :  0.2
331  and  382 :  0.1
337  and  387 :  0.3
339  and  350 :  0.2
339  and  371 :  0.2
345  and  366 :  0.1
345  and  385 :  0.1
350  and  371 :  0.2
354  and  358 :  0.1
354  and  363 :  0.1
358  and  363 :  0.1
358  and  371 :  0.1
366  and  385 :  0.1
366  and  389 :  0.1

## LSH phase

We set the elements per bnad and add all the possible candidate pairs to a set. 
To do this we iterate over all pairs exactly once, but we itare over the lists of signatures as well and also bandwise. This leads to an inneficient code, but it is ok for small number of documents (<500), like this test.

In [42]:
#lsh implementation
elem_per_band = 2
candidate_pairs = set()

for b in range (0, numhashes//elem_per_band):
    for i in range (0, len(df)-1):
        for j in range (i+1, len(df)):
            s1 = 0
            s2 = 0
            for e in range(b*elem_per_band, b*elem_per_band+elem_per_band):
                s1 += df.signature.iloc[i][e]
                s2 += df.signature.iloc[j][e]
            if (s1 == s2): 
                candidate_pairs.add((i, j))
candidate_pairs

{(8, 44),
 (8, 134),
 (44, 134),
 (55, 136),
 (55, 227),
 (55, 228),
 (75, 76),
 (90, 92),
 (90, 125),
 (90, 130),
 (90, 192),
 (90, 360),
 (92, 125),
 (92, 130),
 (92, 192),
 (92, 360),
 (97, 131),
 (97, 163),
 (112, 133),
 (125, 130),
 (131, 163),
 (134, 187),
 (136, 227),
 (136, 228),
 (144, 242),
 (144, 386),
 (148, 322),
 (152, 153),
 (192, 360),
 (206, 252),
 (226, 251),
 (227, 228),
 (242, 386)}

In [46]:
#test example: take a pair from the canditate set
signatures = next(iter(candidate_pairs))
sig1, sig2 = signatures[0], signatures[1]

#print the text
print(df.Review.iloc[sig1])
print(df.Review.iloc[sig2])
print()
#print the signatures
print(df.signature.iloc[sig1])
print(df.signature.iloc[sig2])

#print the minhash similarity
min_hash_sim(df.signature.iloc[sig1], df.signature.iloc[sig2])

     Absolutely gorgeous and wonderful We will repeat for sure Thanks for the kindness

Yesterday I drive to the restaurant Areas do Seixo to enjoy the peace and praised the quality of the environment and flavors
However I had not made a reservation while browsing the site after reading the Evases magazine about the reopening I did not get the idea that it was necessary
Regards the chef Leonardo Pereira authorized an exception and we could have lunch
There are no words to express the gratitude for the kindness
And then it was a memorable dining experience  Since the care and education of employees the combination of flavors the friendliness of the chef Leonardo Pereira Who kindly presented us with a surprise dessert
It is with great appreciation that mean that approx trip 700km worth of all the wonderful experience
In this regard I must complement all the elements of your team

[876264128, 1003172853, 114275788, 218140582, 144069921, 636831237, 1123852149, 1245630026, 39415390, 12330435]
[11032232, 4195109, 51482394, 13503072, 78706271, 138445147, 97227409, 8175355, 39415390, 12330435]

0.2